In [2]:
var= "Sir"
print(f"heyy,{var}")

heyy,Sir

In [3]:
n1=int(input("Enter number1: "))
n2=int(input("Enter  number2: "))
n3=n1+n2
if(n3>0):
    print("Sum is positive")
else:
    print("Sum is Negative")

Enter number1:  9
Enter  number2:  8

Sum is positive

In [6]:
Num=69
user=int(input("Enter the Number: "))
if(user==Num):
    print("Correct Number")
else:
    print("Enter number correctly")

Enter the Number:  69

Correct Number

In [9]:
firstname="Lakshya"
surname="BAD"
wholename=firstname+surname
wholename

'LakshyaBAD'

In [11]:
user=input("Enter a string")
output=''
for i in user:
    if(i.islower()):
        output+=i.upper()
    else:
        output+=i.lower()
print(output)

Enter a string aSSin

AssIN

In [13]:
list=[9,2,3,7,8]
sum=0
mul=1
for i in list:
    sum+=i
for i in list:
    mul*=i
print(sum,end=" ")
print(mul)

29 3024

In [14]:
x=input("Enter value to search: ")
a=[1,2,"x","a",3,4,"i"]
result=False
for i in a:
    if(str(i)==x):
        result=True
        break
print(result)

Enter value to search:  a

True

In [15]:
list1=[1,2,3,4]
list2=[5,6,7]
common=False
for i in list1:
    for j in list2:
        if(i==j):
            common=True
print(common)

False

In [16]:
histogram=[1,2,3]
for i in histogram:
    print("*"*i)

*
**
***

In [19]:
List = ["cat","tiger","lion", "zebra" , "crocodile", "snack"]
newlist=[]
for i in range(4,-1,-1):
    newlist.append(List[i])
print(newlist)

['crocodile', 'zebra', 'lion', 'tiger', 'cat']